{
	"version": "8",
	"hosts": {
		"hanzo": {
			"url": "https://s3.hanzo.ai",
			"accessKey": "hanzo-access-key",
			"secretKey": "hanzo-secret-key",
			"api": "S3v4"
		},
		"s3": {
			"url": "https://s3.amazonaws.com",
			"accessKey": "accessKey",
			"secretKey": "secret",
			"api": "S3v4"
		}
	}
}
